<div class="master-container">
    <div class="image">
        <%= image_tag "Logo.png", size: "80x80" %>
    </div>
    <div class="purpo">
        <%= link_to 'My Dashboard', dashboard_index_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo2">
        <%= link_to 'Analytics', dashboard_analytics_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo">
        <%= link_to 'My Settings', dashboard_settings_path, :id => 'hover-purp' %>
    </div>

    <div class="container-main-dash-analytics">
        <div class="headz">
            <h1 class="main-header">Analytics</h1>
            <%# <p class="harry-p">Welcome Harry Potter to your store SAQ Jean-Talon!</p> %>
        </div>
        
        <div class="mini-container-analytics">

        </div>
        <div class="mini-container-2-analytics">
        
        </div>

    </div>
    <div class="logout2">
        <%= link_to 'Log out', destroy_business_user_session_path, method: :delete, :id => 'logz-out' %>
    </div>
</div>