<div class="master-container">
    <div class="image">
        <%= image_tag "logo.png", size: "80x80" %>
    </div>
    <div class="purpo">
        <%= link_to 'My Dashboard', dashboard_index_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo2">
        <%= link_to 'Analytics', dashboard_analytics_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo">
        <%= link_to 'My Settings', dashboard_settings_path, :id => 'hover-purp' %>
    </div>

    <div class="container-main-dash-analytics">
        <div class="headz">
            <h1 class="main-header">Analytics</h1>
            <%# <p class="harry-p">Welcome Harry Potter to your store SAQ Jean-Talon!</p> %>
        </div>

        <div class="mini-container-analytics">
            <h2>Average Daily Wait Time</h2>
                <p>21</p>

        </div>
        <div id="mini-container-2-analytics" class="mini-container-2-analytics">

        </div>

        <div class="mini-container-3-analytics">
            <h2>Current Waiting Time</h2>
                <p>13 mins</p>
        </div>

        <div id="mini-container-4-analytics" class="mini-container-4-analytics">

        </div>

    </div>
    <div class="logout2">
        <%= link_to 'Log out', destroy_business_user_session_path, method: :delete, :id => 'logz-out' %>
    </div>
</div>

<%# This is script for Average Customers %>
<script>
document.addEventListener('turbolinks:load', function () {
        const chart = Highcharts.chart('mini-container-2-analytics', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Average Customers Last Week'
            },
            xAxis: {
                categories: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
            },
            yAxis: {
                title: {
                    text: 'Customers'
                }
            },
            series: [{
                name: 'Accepted',
                data: [10, 20, 14, 12, 30]
            }, {
                name: 'No Show',
                data: [5, 17, 30, 20, 14]
            }]
        });
    });
</script>

<%# This is script for Average Time %>
<script>
document.addEventListener('turbolinks:load', function () {
        const chart = Highcharts.chart('mini-container-4-analytics', {
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Average Wait Time Last Week'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f} mins</b>'
    },
    accessibility: {
        point: {
            valueSuffix: 'mins'
        }
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} mins'
            }
        }
    },
    series: [{
        name: 'Average Wait Time',
        colorByPoint: true,
        data: [{
            name: 'Monday',
            y: 12.41
        }, {
            name: 'Tuesday',
            y: 11.84
        }, {
            name: 'Wednesday',
            y: 9.85
        }, {
            name: 'Thursday',
            y: 2.85
        }, {
            name: 'Friday',
            y: 7.85
        }]
    }]
});
});
</script>
