<div class="master-container">
    <div class="image">
        <%= image_tag "logo.png", size: "80x80" %>
    </div>
    <div class="purpo">
        <%= link_to 'My Dashboard', dashboard_index_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo2">
        <%= link_to 'Analytics', dashboard_analytics_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo">
        <%= link_to 'My Settings', dashboard_settings_path, :id => 'hover-purp' %>
    </div>

    <div class="container-main-dash-analytics">
        <div class="headz">
            <h1 class="main-header">Analytics</h1>
            <%# <p class="harry-p">Welcome Harry Potter to your store SAQ Jean-Talon!</p> %>
        </div>

        <div class="mini-container-analytics">
            <h2>Average Guests</h2>
                <p>312 per day</p>

        </div>
        <div id="mini-container-2-analytics" class="mini-container-2-analytics">

        </div>

        <div class="mini-container-3-analytics">
            <h2>Average Time</h2>
                <p>13 mins</p>
        </div>

        <div id="mini-container-4-analytics" class="mini-container-4-analytics">

        </div>

    </div>
    <div class="logout2">
        <%= link_to 'Log out', destroy_business_user_session_path, method: :delete, :id => 'logz-out' %>
    </div>
</div>

    <script>
document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('mini-container-2-analytics', {
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Average Customers'
            },
            xAxis: {
                categories: ['Monday', 'Tuesday', 'Wednesday']
            },
            yAxis: {
                title: {
                    text: 'Customers'
                }
            },
            series: [{
                name: 'Accepted',
                data: [10, 20, 14]
            }, {
                name: 'Declined',
                data: [5, 17, 30]
            }]
        });
    });
</script>

<script>
document.addEventListener('DOMContentLoaded', function () {
        const chart = Highcharts.chart('mini-container-4-analytics', {
            chart: {
                type: 'pie'
            },
            title: {
                text: 'Customer by Time of Day'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{series.name}</b>: {point.percentage:.1f} %'
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'Customers'
                }
            },
            series: [{
            data: [{
            name: 'Chrome',
            y: 61.41
        }, {
            name: 'Internet Explorer',
            y: 11.84
        }, {
            name: 'Firefox',
            y: 10.85
        }]
        });
    });
</script>
