<div class="master-container">
    <div class="image">
        <%= image_tag "logo.png", size: "80x80" %>
    </div>
    <div class="purpo">
        <%= link_to 'My Dashboard', dashboard_index_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo2">
        <%= link_to 'Analytics', dashboard_analytics_path, :id => 'hover-purp' %>
    </div>

    <div class="purpo">
        <%= link_to 'My Settings', dashboard_settings_path, :id => 'hover-purp' %>
    </div>

    <div class="container-main-dash">
        <div class="headz">
            <h1 class="main-header">Dashboard</h1>
            <p class="harry-p">Welcome Harry Potter to your store SAQ Jean-Talon!</p>
        </div>

        <div class="mini-container">

        </div>
        <div class="mini-container-2">

        </div>

        <div id="client-container">
          hello
        </div>

        <div class="weather-container" id="weather-container" data-latitude="<%= @business_stores[0].latitude %>" data-longitude="<%= @business_stores[0].longitude %>">
          <div class="weather-container-info">
            <div class="d-flex align-items-center">

                <div id="weather-icon">
                </div>

                <div id="info">
                </div>

            </div>

                <div id="city">
                </div>
            </div>
          </div>
        </div>

    </div>

    <div class="logout">
        <%= link_to 'Log out', destroy_business_user_session_path, method: :delete, :id => 'logz-out' %>
    </div>
</div>


