<h1>Stores#edit</h1>
<p>Find me in app/views/stores/edit.html.erb</p>
<div class="container">
    <%= simple_form_for [@user, @store] do |l| %>
    <%= l.input :name %>
    <%= l.input :address %>
    <%= l.input :capacity %>
    <%= l.submit 'Submit', class => 'btn btn-primary' %>
    <% end %>
</div>