<h1>Stores#new</h1>
<p>Find me in app/views/stores/store.html.erb</p>

<%= current_business_user %>
<div class="container">
  <%= simple_form_for [@user, @store] do |l| %>
    <%= l.input :name, label: false, placeholder: "Name" %>
    <%= l.input :address, label: false, placeholder: "Address" %>
    <%= l.input :capacity, label: false, placeholder: "Capacity" %>
    <%= l.submit 'Submit', :class => 'btn', :id => 'btn-purple' %>
  <% end %>
</div>
