<%= stylesheet_pack_tag 'application' %>
<div class="container-map">
  <div class="container-store">
    <div class="bg-img" id="blur-img">
      <%= image_tag "4058271.jpg", alt: "alttext"%>
    <div class="row d-flex justify-content ">
      <div class="code">
          <%= @svg.html_safe %>
      </div>
    </div>
  </div>

</div>

<!-- map -->
    <!-- <div class="container-geo">
      <div class="row">
        <div id="map"
              style="width: 50%; height: 300px;"
               data-markers="<%= @markers.to_json %>"
               data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div> -->
