<body class="mobile-page">
  <%= render 'mobileheader' %>

<!-- <div class="purple-page"> -->


  <h2 class="text-center pt-5 mb-3">Confirmations</h2>

  <div class="container">

<%= link_to "",  %>
    <div class="card-container">
      <% @user_confirmations.each do |confirmation| %>
        <div class="card d-flex align-items-center text-center">
          <div class="card-title">
            <p id="store-name"><%= link_to confirmation.store.name, store_confirmation_path(id: confirmation.id, store_id: confirmation.store.id) %></p>
            <p>Line</p>
             <p id="line-number"><%= confirmation.position %> </p>
          </div>
         </div>
      <% end %>
    </div>
  </div>

  <h2 class="text-center pt-5 mb-3">Stores</h2>
  <div class="container">
    <div class="card-container">
      <% @stores.each do |store| %>
        <div class="card text-center">
          <div class="card-title">
            <p id="store-name"><%=link_to store.name, new_store_confirmation_path(store_id: store.id) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<!-- </div> -->

