<body class="mobile-page">
  <%= render 'mobileheader' %>


<!-- <div class="container-mobile"> -->
  <h4>Confirmations</h4>

  <div class="container">
    <div class="card-container">
      <% @user_confirmations.each do |confirmation| %>
        <% if !confirmation.completed %>
            <%= link_to store_confirmation_path(id: confirmation.id, store_id: confirmation.store.id) do %>
          <div class="card d-flex align-items-center text-center">
            <div class="card-title">
              <p><%= confirmation.store.name %></p>
              <div class="card-details">
                <div class="card-items">
                  <%= image_tag "queue_icon.svg", alt: "alttext", :id=> "icon"%>
                 <p id="line-number"><%= confirmation.position %> </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
         <% end %>
      <% end %>
    </div>
  </div>

<h4>Past Confirmations</h4>

  <div class="container">
    <div class="card-container">
      <% @user_confirmations.each do |confirmation| %>
        <% if confirmation.completed %>
            <%= link_to store_confirmation_path(id: confirmation.id, store_id: confirmation.store.id) do %>
          <div class="card d-flex align-items-center text-center">
            <div class="card-title">
              <p><%= confirmation.store.name %></p>
              <div class="card-details">
                <div class="card-items">
                  <%= image_tag "queue_icon.svg", alt: "alttext", :id=> "icon"%>
                 <p id="line-number"><%= confirmation.position %> </p>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


  <h2 class="text-center pt-5 mb-3">Stores</h2>
  <div class="container">
    <div class="card-container">
      <% @stores.each do |store| %>
        <%=link_to new_store_confirmation_path(store_id: store.id) do%>
        <div class="card text-center">
          <div class="card-title">
            <p id="store-name"><%= store.name %></p>
              <div class="card-items">
                <%= image_tag "marker.jpeg", alt: "alttext", :id=>"marker" %>
                <p id="address"><%= store.address %> </p>
              </div>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>


<!-- </div> -->
