<body class="mobile-page">
  <%= render 'mobileheader' %>
<div class="container-mobile">


  <h4 class="mobile-title">Waiting in line</h4>

  <div class="d-flex justify-content-center">
    <div class="card-container">

      <% @user_confirmations.each do |confirmation| %>
      <% if !confirmation.completed %>
          <%= link_to store_confirmation_path(id: confirmation.id, store_id: confirmation.store.id) do %>
          <div class="box-info-all">
            <h4><%= confirmation.store.name %></h4>
            <h3><%= confirmation.position %>
            <%= image_tag "queue_icon.svg", alt: "alttext", :id=> "icon"%></h3>
            <h4>position</h4>
          </div>
          <% end %>
      <% end %>
      <% end %>

    </div>
  </div>

  <h4 class="mobile-title">Past Visits</h4>

  <div class="d-flex justify-content-center">
    <div class="card-container">

      <% @user_confirmations.each do |confirmation| %>
      <% if confirmation.completed %>
          <%= link_to store_confirmation_path(id: confirmation.id, store_id: confirmation.store.id) do %>
          <div class="box-info-all">
            <h4><%= confirmation.store.name %></h4>
            <h3>√</h3>
            </h3>
          </div>
          <% end %>
      <% end %>
      <% end %>

    </div>
  </div>



  <h4 class="mobile-title">Stores</h4>

  <div class="d-flex justify-content-center">
    <div class="card-container">

      <% @stores.each do |store| %>

         <%=link_to new_store_confirmation_path(store_id: store.id) do%>
          <div class="box-info-all">
            <div class="store-info">
              <h4><%= store.name %></h4>
              <p><%= image_tag "map_marker.svg", alt: "alttext", :id=>"marker" %></p>
              <p>View</p>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>

  <% if customer_signed_in? %>
    <%= link_to 'Log out', destroy_customer_session_path, method: :delete %>
  <% end %>

</div>

