<body class="mobile-page" id="counter">
<%= render 'mobileheader' %>

<div class="container-mobile">

  <div class="mobile-qrcode">
      <%= @svg.html_safe %>
  </div>

  <p><%= link_to "View my lineups or Make a new one", confirmations_path %></p>

  <div class="box-container-show">
    <div>
      <h4><%= @store.name %></h4>
      <p>Store description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

  <div class="box-container-show">
    <h4>A little more information</h4>
    <p><%= @store.message %></p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="box-info">
      <h4>Approx. wait</h4>

      <div id="expected_time">

      </div>

      <h3 id="timeLeft" data-expected_time="<%= @confirmation.expected_visit_time %>">

      </h3>
     <div class="countdown-timer"></div>
       <h4>minutes</h4>
     </div>

    <div class="box-info">
      <h4>Your position</h4>

      <div id="position">
      <h3 id="current_position" data-position="<%= @current_position %>"></h3>
      </div>
      <h4>in line</h4>
    </div>
  </div>

  <div class="box-container-show">
    <div class="map-container">
      <div id="map"
           style="width: 320px; height: 220px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="nextinline" tabindex="-1" role="dialog" aria-labelledby="nextinline" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div>

        <div class="modal-dialog" role="document" id="modal-size">
            <div class="modal-content" id="modal-top-alert">
              <div class="modal-body">
                <p>It's almost your turn!</p>
              </div>
            </div>
        </div>

        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-show">
              <div class="modal-body">
                <p>See you in</p>
                <h2>1 min</h2>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="yourturn" tabindex="-1" role="dialog" aria-labelledby="yourturn" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div>

        <div class="modal-dialog" role="document" id="modal-size">
            <div class="modal-content" id="modal-top-alert">
              <div class="modal-body">
                <p>It's your turn!</p>
              </div>
            </div>
        </div>

        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-show">
              <div class="modal-body">
                <p>Welcome to <%= @store.name %></p>
                <h2>🎉</h2>
                <p>Show your QR code</p>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>


<%# <script>
  import moment from "moment";

  const timeLeftBeforeArrival = (expectedTimeOfArrival) => {
  const timeNow = moment.utc(expectedTimeOfArrival);
  console.log(timeNow.fromNow());
  return timeNow.fromNow();
};

  countdown = document.getElementById("countdown");
  countdown.innerHTML = timeLeftBeforeArrival(1618359326000);

</script> %>
