
<body class="mobile-page">
<%= render 'mobileheader' %>

<div class="container-mobile">

  <div class="mobile-qrcode">
      <%= @svg.html_safe %>
  </div>

  <div class="box-container-show">
    <div>
      <h4><%= @store.name %></h4>
      <p>Store description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>

  <div class="box-container-show">
    <h4>A little more information</h4>
    <p><%= @store.message %></p>
  </div>

  <div class="d-flex justify-content-center">
    <div class="box-info">
      <h4>Approx. wait</h4>
      <h3><%= @current_position*10 %></h3>

      <h4>minutes</h4>
    </div>

    <div class="box-info">
      <h4>Your position</h4>
      <h3> <%= @current_position %></h3>
      <h4>in line</h4>
    </div>
  </div>

  <div class="box-container-show">
    <div class="map-container">
      <div id="map"
           style="width: 300px; height: 300px;"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#nextinline">
  Next in line
</button>

<!-- Modal -->
<div class="modal fade" id="nextinline" tabindex="-1" role="dialog" aria-labelledby="nextinline" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div>

        <div class="modal-dialog" role="document" id="modal-size">
            <div class="modal-content" id="modal-top-alert">
              <div class="modal-body">
                <h4>It's almost your turn!</h4>
              </div>
            </div>
        </div>

        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-show">
              <div class="modal-body">
                <h4>See you in</h4>
                <h2>5 mins</h2>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#yourturn" >
  Your turn!
</button>

<!-- Modal -->
<div class="modal fade" id="yourturn" tabindex="-1" role="dialog" aria-labelledby="yourturn" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div>

        <div class="modal-dialog" role="document" id="modal-size">
            <div class="modal-content" id="modal-top-alert">
              <div class="modal-body">
                <h4>It's your turn!</h4>
              </div>
            </div>
        </div>

        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modal-show">
              <div class="modal-body">
                <h4>Welcome to <%= @store.name %></h4>
                <h2>🎉</h2>
                <h4>Show your QR code</h4>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

</div>


